body{
    background: #3B445B;
}

.Iam{
    padding: 5em 10em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
}
.Iam p{
    height: 50px;
    float: left;
    margin-right: 0.3em;
}
.Iam b{
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
}

.Iam .innerIam{
    display: inline-block;
    color: #7EB19F;
    position: relative;
    white-space: nowrap; /* The white-space property is used to describe how whitespace inside the element is handled.*/
    top: 0;
    left: 0;

    animation:move 6s;

    animation-iteration-count: infinite;

    animation-delay: 2s;
}
@keyframes move{
    0%{top: 0px;}
    20%{top: -50px;}
    40%{top: -100px;}
    60%{top: -150px;}
    80%{top: -200px;}
}
